/* scroll bar */
body::-webkit-scrollbar {
  position: relative;
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(57, 117, 185);
  outline: 1px solid rgb(54, 113, 171);
}
body {
  overflow-x: hidden;
}

/* heading page font */
.head-text {
  font-family: "Franklin Gothic Medium";
}

/* table columns and rows */
tr .odd {
  max-height: 10px;
}

tr th {
  font-size: 15px;
}

.table td,
.table th {
  padding: 0.2rem;
}

/* response loader */
/* .responseloader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.responseloader img {
  width: 100px;
  height: 100px;
} */

.card-footer button {
  border: none;
}

.card-footer {
  text-align: center;
}

.card-footer button:hover {
  background-color: #3e8e41;
}

.card-footer button:active {
  background-color: #59e65e;
  box-shadow: 0 5px #7ef790;
  transform: translateY(4px);
}

.invalid-feedback {
  position: absolute;
  color: red;
  font-size: 14px;
  margin-left: 5px;
  margin-top: 2px;
}

.asterix {
  color: red;
}

.main-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px;
  margin-left: 0px;
}

label {
  font-family: sans-serif;
}

.hidden-row {
  display: none;
}

.edit-form {
  display: none;
}

.table-padding {
  padding: 0.25rem;
}
.select2-container .select2-selection--single {
  height: 37px;
}

/* new loader */
/* HTML: <div class="loader"></div> */
.loader {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}
@keyframes l1 {
  0% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
  33% {
    background-size: 20% 10%, 20% 100%, 20% 100%;
  }
  50% {
    background-size: 20% 100%, 20% 10%, 20% 100%;
  }
  66% {
    background-size: 20% 100%, 20% 100%, 20% 10%;
  }
  100% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
}
